.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // justify-content: space-between;
    max-width: 45%;
    margin: 5rem auto;
}

.street {

    &__titles {
        margin-top: 3rem;
    }
}

.results{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.form {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-light);
    border: none;
    width: 40rem;

    &__input {
        font-family: inherit;
        font-size: 2.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;
    }
}

.decision-or {
    text-align: center;

}