// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;

.available-text {
    font-family: 'Roboto', sans-serif;
    font-size: 9.3rem;
    text-align: center;
}
.heading-primary {
    font-family: 'Roboto', sans-serif;
    font-size: 5.3rem;
    text-align: center;
}
.heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.heading-tertiary{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: grey;
    letter-spacing: .3rem;
    text-align: center;
}