<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

    <title>Smart Park</title>
</head>

<body>
    <nav class="nav">SmartPark</nav>

    <!-- section search -->
    <section class="home">
        <h1 class="heading-primary home__title">Find Available Parking Spots</h1>


        <form class="form" id='sampleform' method='post' action=''>
            <input type="text" class="form__input" placeholder="Enter location" id="location">
            <input type='submit' name='Submit' value='Submit' class="btn btn--search" />
        </form>

    </section>
</body>

</html>